<ng-container *ngIf="showProfile">
  <div [id]="data?.id" class="profile-card">
    <div class="profile-header">
      <button (click)="closeProfile()" aria-label="Close" class="close-button" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
      <h2 style="height: 40px;font-family: Helvetica, Arial, sans-serif;">{{ data?.name }}</h2>
      <p class="title">{{ data?.title }}</p>
    </div>
    <div class="profile-details">
      <div class="detail-item">
        <span class="detail-label">Pay Zone</span>
        <span class="detail-value">{{ data?.payZone }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Mobile</span>
        <span class="detail-value">
        <a [href]="'tel:' + data?.mobile">{{ data?.mobile }}</a>
      </span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Company</span>
        <span class="detail-value">{{ data?.company }}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Email</span>
        <span class="detail-value">
        <a [href]="'mailto:' + data?.email">{{ data?.email }}</a>
      </span>
      </div>
    </div>
  </div>
</ng-container>
