.custom-dropdown-select-panel {
  background: #fff !important;
}

.custom-dropdown-select-panel-option {
  background: #fff !important;
  border: 1px solid #000;
  margin: 0 10px !important;
  padding: 0 !important;
  width: 90%;
  border-radius: 4px;
  color: #fff !important;
}

.custom-dropdown-form-container .mdc-text-field--filled {
  background: none !important;
  color: #fff !important;
}

.custom-dropdown-form-container .mat-mdc-select-value-text {
  color: #fff !important;
}

.custom-dropdown-form-container .mat-mdc-select-arrow {
  color: #fff !important;
}

.custom-dropdown-form-container .mat-mdc-text-field-wrapper {
  height: 40px !important;
}

.custom-dropdown-form-container
  .mdc-text-field--outlined
  .mat-mdc-form-field-infix {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}

.custom-dropdown-form-container
  .mat-mdc-text-field-wrapper
  .mat-mdc-form-field-flex
  .mat-mdc-floating-label {
  top: 50% !important;
}
