<div style="display: grid; height: 100dvh; width: 100%">
  <mat-toolbar
    color="primary"
    style="background: #46465c; justify-content: center"
  >
    <app-custom-dropdown
      (selectionChange)="handleCompanySelection($event)"
      [options]="(companies$ | async)?.companies || []"
    ></app-custom-dropdown>
    <button
      (click)="logout()"
      mat-raised-button
      style="
        position: absolute;
        right: 10px;
        background: none;
        color: #fff;
        font-family: Helvetica, Arial, sans-serif;
        box-shadow: none;
      "
    >
      Logout
    </button>
  </mat-toolbar>
  <mat-card style="width: 100%; padding: 20px; height: 90dvh; overflow: auto">
    <div class="content-container">
      <ng-container
        *ngIf="renderCardDetail$ | async as renderCardDetail; else emptyDiv"
      >
        <div style="display: flex; gap: 20px; flex-direction: column">
          <app-detail-card
            (hideCard)="hideDetailCard($event)"
            [data]="renderCardDetail"
          ></app-detail-card>
          <ng-container
            *ngIf="renderOrgMetricCard$ | async as renderOrgMetrics"
          >
            <app-org-metric-card
              [data]="renderOrgMetrics"
              [showProfile]="renderCardDetail !== null"
            ></app-org-metric-card>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #emptyDiv>
        <div class="detail-container"></div>
      </ng-template>
      <div class="graph-container">
        <app-tree-graph-component
          [graphData]="organisationData"
        ></app-tree-graph-component>
      </div>
    </div>
  </mat-card>
</div>
